
*{
   margin: 0%;
   padding: 0%;
}
body{
    width: 90%;
    margin: auto;
}
.heading{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    position: sticky;
    top: 0px;
    background-color: white;
}
.heading>h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading>a{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    position: sticky;
    top: 0px;
    background-color: white;
    text-decoration: none;
}
.heading>a>h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar0{
    height: 40px;
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    margin-bottom: 30px;
    background-color: rgb(217, 217, 217);
}
.navbar0>div{
    display: flex;
    justify-content: space-between;
}
#search{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;

    
}
#search>img{
    height: 100%;
    width: auto;
}
#searchinput{
    height: 100%;
}
#sign{
    display: flex;
    margin-left: 150px;
    
}
#sign>a>h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
#vertical{
    /* border-left: 2px solid black; */
    height: 100%;
    /* margin-left: -5px; */
}
.navbar{
    height: 40px;
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.navbar>div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    transition: background-color 1s,color 1s;
}
.navbar>div:hover{
    background-color: black;
    color: white;
}
.product{
    /* border: 1px solid red; */
    width: auto;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 75%;
    gap: 30px;
    margin-bottom: 50px;

}
.product>div{
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    justify-content: center;
}
.product>div>img{
    width: 100%;
    height: 100%;
    transition: width 2s,height 2s;
}
.product>div>img:hover{
    width: 101%;
    height: 105%;
}
.product>div>h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
    margin-top: 10px;
}
.product>div>h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
    margin-top: 15px;
}
button{
    padding: 15px;
    background-color: white;
    margin-top: 30px;
    transition: color 1s,background-color 1s,padding 2s;
}
button:hover{
    color: white;
    padding: 20px;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
a>button{
    padding: 15px;
    background-color: white;
    margin-top: 30px;
    transition: color 1s,background-color 1s,padding 2s;
}
a>button:hover{
    color: white;
    padding: 20px;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.sideproduct{
    /* border: 1px solid rgb(252, 135, 0); */
    width: auto;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,70%);
    gap: 30px;
    margin-bottom: 50px;

}
.sideproduct>div{
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    justify-content: center;
}
.sideproduct>div>img{
    width: 100%;
    height: 100%;
    transition: width 2s,height 2s;
}
.sideproduct>div>img:hover{
    width: 101%;
    height: 105%;
}
.sideproduct>div>h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
    margin-top: 10px;
}
.sideproduct>div>h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    
    margin-top: 15px;
}
.about{
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.aboutlist{
    display: flex;
    justify-content:space-around;
}
.aboutlist>div>ol>ul:hover{
    color: white;
    background-color: black;

}
.aboutlist>div>ol>ul{
    margin-top: 15px;
    font-size: 18px;
    transition: color 1s,background-color 0.75s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.aboutinfo>div{
    height: 100px;
    display: flex;
    
}
.aboutinfo>div>img{
    width: 80px;
    height: 80px;
}
.aboutinfo>div>p{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-top: 30px;
}
.aboutinfo>h4{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 30px;
}
.aboutinfo>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
  
}
.margintop{
    margin-top: 35px;
    cursor: pointer;
}
ol{
    padding: 30px;
    list-style: none;
}
input{
    padding: 15px;
}
.getsocial{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 70%;
    margin-top: -20px;
}
.getsocial>img{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

}
